<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Felix JSON Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E11DE1171D38DD1200D7340F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E11DE1301D38DD1300D7340F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E11DE13B1D38DD1300D7340F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
